* {
    font-family: 'Oswald', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #e5e2db; /* Updated */
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Navbar Styling */
.navbar {
    background-color: #ffd481 !important; /* Updated */
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    z-index: 1000;
}

.nav-link {
    color: black !important; /* Updated */
    margin: 0 10px;
}

.nav-link:hover {
    color: #111111 !important; /* Updated */
}

/* Main Content */
header {
    margin-top: 80px;  /* Space for fixed navbar */
    text-align: center;
    color: black; /* Updated */
    margin-bottom: 30px;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

/* User Information Container */
.container {
    max-width: 400px !important;
    margin-left: 20px !important;
    background-color: #ffd481; /* Updated */
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 10px 7px 29px 15px;
    color: black; /* Updated */
    text-align: center; /* Add this line to center the content */
}

.img-fluid {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 auto; /* Add this line to center the image horizontally */
    display: block; /* Add this line to allow margin auto to work */
}

/* Add this style to center the h5 element */
.container h5 {
    text-align: center;
    margin-bottom: 10px; /* Add some spacing below the heading */
}

/* Alert Styling */
.alert {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #111111; /* Updated */
    color: #faf9f6; /* Updated */
    border: none;
}

.btn-primary {
    background-color: #111111 !important; /* Updated */
    border-color: #111111 !important; /* Updated */
    color: #faf9f6 !important; /* Updated */
}

.btn-primary:hover {
    background-color: gray !important; /* Updated */
    border-color: gray !important; /* Updated */
    color: #faf9f6 !important; /* Updated */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 20px auto !important;
    }
    
    body {
        padding: 10px;
    }
}
